body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*Navbar Styles*/
.navbar-custom {
  max-height: 100px;
}

.navbar {
  background-color: #343a40;
}

.profile-nav {
  margin-left: 2em;
}

.nav-item, .navbar-brand{
  color: white;
}

a:hover {
  color: orangered !important; /*ff4500*/
}
 
.list-menu-float:hover:before {
  animation-name: buttonAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  }
  
  @keyframes buttonAnimation {
  /* wave animation */
  0% { opacity:1; transform:scale(1)}
  100% { opacity:0; transform:scale(2); }
  }
  
  .signup-sm {
    min-width: 330px;
    max-width: 384px;
    max-height: 500px;
    border-radius: 5%;
  }

  .fg-light {
    color: white;
  }

  .centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* Accordion Styles */
  .monster-accordion {
    overflow-y: scroll;
    height: calc(100vh - 100px - 3rem);
  }

  .fillparent {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  /* Card Header */
  .card-header-custom {
    display: inline-block;
  }

  .accordion-header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .level {
    max-height: 70%;
    border: 1px solid #D4AF37;
    display: inline;
    padding: 0px 3px 0px 3px;
  }


  /* Card Body */
  .stat-block {
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
  }

  .stat-item {
    display: block;
    float: left;
    width: 33%;
    /*border: 1px solid black;*/
    padding: 0px;
  }

  .flex-start {
    align-self: flex-start;
  }

  .text-description {
    overflow-y: scroll;
    max-height: 200px;
  }